<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <a class="copyright-link" href="http://darkm.com.br/">Created with<i class="material-icons copyright-icon">favorite</i> by Darkm</a>
      </b>
    </div>
  </div>
</div>